[package]
name = "{{project}}"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "{{description}}"
repository = "https://github.com/tzervas/{{project}}"
readme = "README.md"

[dependencies]

[dev-dependencies]
